$body-bg: rgba(255, 255, 255, 1);
$font-color: rgba(0, 0, 0, 1);
$main-color: rgba(37, 136, 193, 1);
$primary-color: rgba(25, 25, 112, 1);
$white: rgba(255, 255, 255, 1);

$mobile-width: 600px;
$tablet-width: 1024px;

$width: 100%;
$height: 100vh;

$font-family: "Nunito Sans", sans-serif;
