@use "scss" as *;

.notFound__section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: $width;
  height: $height;

  &Content {
    @include flex(center, center, column);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &Details {
    @include flex(center, center, column);
    flex-wrap: wrap;

    & img {
      width: 18rem;
    }

    & h3 {
      font-size: 1.2rem;
      margin-top: -2rem;
      margin-bottom: 0.5rem;
    }

    & button {
      border: 1px solid $main-color;
      border-radius: 0.5rem;
      padding: 0.3rem 4.5rem;
      margin: 1.5rem 0;
      background-color: $main-color;
      color: $white;
      font-family: inherit;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $main-color;
        background-color: $white;
        box-shadow: 0px 0px 5px 2px $main-color;
      }
    }
  }
}
